@page "/"
@using MyApp.Logic.Repositories
@attribute [RenderModeInteractiveServer(false)]
@attribute [StreamRendering(true)]

<PageTitle>Home</PageTitle>

Hey wtf

<button class="btn btn-light" @onclick=GenerateAthlete>Generate New Athlete</button>

@if (!Loading)
{
    <div class="d-flex gap-2">
        @foreach (var athlete in Athletes)
        {
            <ul @onclick=@(async ()=>{ await _athleteRepository.DeleteAthlete(athlete.ID);await  LoadAthletes();})>
                <li>
                    @athlete.FirstName
                </li>
                <li>
                    @athlete.LastName
                </li>
                <li>
                    @athlete.ID
                </li>
                <li>
                    @athlete.Event
                </li>

            </ul>
        }
    </div>
}
else
{
    <div>
        Loading.....
    </div>
}

