@inherits LayoutComponentBase

<div class="page">
    <main>
        <NavMenu />
        <article class="main">
            @Body
        </article>
    </main>
</div>

<style>
    .main {
        margin: 100px auto;
    }

</style>